<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<!-- <bean id="stubReadPdf" class="com.oracle.xmlns.oxp.service.publicreportservice.PublicReportServiceServiceStub">
		<property name="login" >
			<ref bean="loginBean"/>
		</property>
	</bean> -->
	
	 <bean id="runreportDVSReport" class="com.oracle.xmlns.oxp.service.publicreportservice.RunReport">
		<property name="reportRequest" >
			<ref bean="reportRequestDVSReport"/>
		</property>
		<!-- <property name="userID"  value = "testuser32" />
		<property name="password"  value = "password32" /> -->
		<property name="userID"  value = "${biPub.userID}" />
		<property name="password"  value = "${biPub.password}" />
	</bean> 
	
	<bean id="runreport" class="com.oracle.xmlns.oxp.service.publicreportservice.RunReport">
		<property name="reportRequest" >
			<ref bean="reportRequestDVSReport"/>
		</property>
		<!-- <property name="userID"  value = "testuser32" />
		<property name="password"  value = "password32" /> -->
		<property name="userID"  value = "${biPub.userID}" />
		<property name="password"  value = "${biPub.password}" />
	</bean> 
	
	<bean id="isReportExist" class="com.oracle.xmlns.oxp.service.publicreportservice.IsReportExist">
		
		<!-- <property name="userID"  value = "testuser32" />
		<property name="password"  value = "password32" /> -->
		<property name="userID"  value = "${biPub.userID}" />
		<property name="password"  value = "${biPub.password}" />
		<property name = "ReportAbsolutePath" value = "${biPub.absolutePath.CRFVisualizationReport}" />
		
	</bean>
	
	<bean id="isReportExistDVSReport" class="com.oracle.xmlns.oxp.service.publicreportservice.IsReportExist">
		
		<!-- <property name="userID"  value = "testuser32" />
		<property name="password"  value = "password32" /> -->
		<property name="userID"  value = "${biPub.userID}" />
		<property name="password"  value = "${biPub.password}" />
		<property name = "ReportAbsolutePath" value = "${biPub.absolutePath.DVSReport}" />
		
	</bean>
	
	<bean id="reportRequest" class="com.oracle.xmlns.oxp.service.publicreportservice.ReportRequest">
		
		<property name="attributeLocale"  value = "en-US" />
		<property name="attributeTemplate"  value = "Simple" />
		<property name = "ReportAbsolutePath" value = "${biPub.absolutePath.CRFVisualizationReport}" />
		<property name = "SizeOfDataChunkDownload" value = "10000" />
		
	</bean>
	
	<bean id="reportRequestDVSReport" class="com.oracle.xmlns.oxp.service.publicreportservice.ReportRequest">
		
		<property name="attributeLocale"  value = "en-US" />
		<property name="attributeTemplate"  value = "Simple" />
		<property name = "ReportAbsolutePath" value = "${biPub.absolutePath.DVSReport}" />
		<property name = "SizeOfDataChunkDownload" value = "10000" />
		
	</bean>
	
	<!-- 
	<bean id="loginBean" class="com.veer.springcore.springcore.Login">
		<property name="userName"  value = "Administrator" />
		<property name="password"  value = "Secret" />
		
	</bean> -->
   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
      <property name="locations">
          <value>file:C:/Users/rahul.kumar.rajendra/props/AxisClient.properties</value> 
     </property> 
   </bean>
</beans>